
 <!-- PAGE HEADER -->
 <header id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
          <br>
        <h1>Contact Us</h1>
        <p>If you have any problems please let us know !</p>
      </div>
    </div>
  </div>
</header>

<!-- CONTACT SECTION -->
<section id="contact" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card p-4">
          <div class="card-body">
            <h3 class="text-center">Please fill out this form to contact us</h3>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="First Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Last Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Phone Number">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea class="form-control" placeholder="Message"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="submit" value="Submit" class="btn btn-outline-danger btn-block">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</section>

<!-- STAFF -->
<section id="staff" class="py-5 text-center bg-dark text-white">
  <h1 class="text-center">Developers </h1>
  <br>
  <div class="container-fluid">
 <div class="row">
 <div class="col-md-3 "><div class="card" style="width:100%;">
    <img class="card-img-top" src="../../../assets/icon.png" alt="Card image" style="width: 100%">
    <div class="card-body"  style="color: black;padding: 1.25rem">
      <h4 class="card-title">Suraj Vyavhare</h4>
    </div>
  </div>
</div>
  
<div class="col-md-3 "><div class="card" style="width:100%">
  <img class="card-img-top" src="../../../assets/icon.png" alt="Card image" style="width: 100%">
  <div class="card-body"  style="color: black;padding: 1.25rem">
    <h4 class="card-title">Suraj Tamgale</h4>
  </div>
</div>
</div>

<div class="col-md-3 "><div class="card" style="width:100%">
  <img class="card-img-top" src="../../../assets/icon.png" alt="Card image" style="width: 100%">
  <div class="card-body"  style="color: black;padding: 1.25rem">
    <h4 class="card-title">Ajay Wayase</h4>
  </div>
</div>
</div>

<div class="col-md-3 "><div class="card" style="width:100%">
  <img class="card-img-top" src="../../../assets/icon.png" alt="Card image" style="width: 100%">
  <div class="card-body"  style="color: black;padding: 1.25rem">
    <h4 class="card-title">Mahesh Vetale</h4>
  </div>
</div>
</div>
  
 
 
 </div>
 </div>
</section>

<!-- FOOTER -->
<footer id="main-footer" class="text-center p-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>Copyright &copy;
          <span > {{year}}</span> PICT , Pune</p>
      </div>
    </div>
  </div>
</footer>

