#page-header{
    height: 200px;
  background: url('../../../assets/image2.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}
#main-footer {
    background: #000;
    color: #fff;
  }