<div style="margin:2rem;">
    <nav class="navbar navbar-expand-sm" style="background-color:#f5f5f5;">
      <div class="row" style="margin-left: 8rem">
        
        <form class="form-inline" #frm="ngForm" style="margin-left:2rem"
        (ngSubmit)="getStudents(frm)" >
  
            <div class="input-group">
              <input type="Number"
              min='2017' max='2018' step="1" 
              name="year" ngModel style="width: 230px;"
             class="form-control text-body" (change)="addNextYear(academicYear.value)" 
             placeholder=" Year" #academicYear
             required>
          </div>
  
           <div class="input-group" style="margin-left:1rem">
            <input type="Number"
            name="year2" disabled
           class="form-control text-body" [ngModel]="yearSelected" 
           placeholder=" Year"
           required>
        </div>
  
           <button type="submit" style="margin-left:1rem" [disabled]=frm.invalid
            class="btn btn-success form-control">Submit</button>
        </form>
      </div> 
      </nav>
<hr>

     <div class="row">
        <div *ngIf='chart' style="height:450px;width:400px;" class="col-md-6 offset-md-3" >
            <canvas id="canvas">{{chart}}</canvas>
    </div>
  
  </div> 
  