<div class="row" >
  <div class="col-md-1"></div>
<div class="col-md-10 ">
   <div class="card text-body" style="border : 1px solid black">
      <div class="card-header">
       <div class="row">
        <div class="col-md-4" style="font-weight: bold"><span class="text-secondary">Name :</span>{{company.companyName}}</div>
        <div class="col-md-4">
            <input type="text" class="form-control" name="Search" [(ngModel)]="filter"
            placeholder="Search Student">
        </div>
        <div class="col-md-4" style="font-weight: bold">
          <span class="text-secondary">Date:</span> {{company.date}}
          <span style="margin-left: 2rem;"
          class="badge badge-success">Package : {{company.package}} LPA </span>
         </div>
       </div>
      </div>
    <div class="card-body" style="height:65vh">

         <table class="table table-striped">
              <thead>
                <tr class="bg-dark" style="color:#fff">
                  <th>Student Name</th>
                  <th>Branch</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of placedStudentsList | filter:filter| paginate: { itemsPerPage: 4, currentPage: p };">
                  <td>{{student.firstName}} {{student.lastName}}  </td>
                  <td>{{student.branch | uppercase}}</td>
                  <td>{{student.email}}</td>
                </tr>
              </tbody>
             <pagination-controls (pageChange)="p = $event"></pagination-controls> 
            </table> 
            <hr>


    </div> 
    <div class="card-footer" style="font-weight: bold"><span class="text-secondary">Email:</span>
      {{company.website}}</div>
   </div>
</div>
<div class="col-md-1"></div> 
  </div>