<div class="container-fluid bg" id="adminlogin">
  <div class="row">
     <div class="col-md-4 col-sm-4 col-xs-12"></div>
 <div class="col-md-4 col-sm-4 col-xs-12">

   <form class="form-container" style="border: 1px solid #fff;">
       <h2>LOGIN ADMIN</h2>
    <div class="form-group">
      <label for="exampleInputEmail1">Registration ID</label>
      <input type="text" class="form-control text-body" id="regid" placeholder="Registration ID">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control text-body" id="password" placeholder="Password">
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-success btn-block"  >Sign In</button>
            </div>         <br>
  </form>

        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
  </div>
</div>
