<div class="row" >
  <div class="col-md-1"></div>
<div class="col-md-10 ">
   <div class="card text-body" style="border : 1px solid black">
      <div class="card-header">
       <div class="row">

        <div class="col-md-3" style="font-weight: bold"><span class="text-secondary">Name :</span>{{company.companyName}}</div>

        <div class="col-md-6" style="font-weight: bold">
          <span class="text-secondary">Date:</span> {{company.date}}
          <span class="text-secondary" style="margin-left: 2rem;">Day:</span> {{company.day}}
          <span style="margin-left: 2rem;"
          class="badge badge-success">Package : {{company.package}} LPA </span>
         </div>

         <div class="col-md-3" style="font-weight: bold"><span class="text-secondary">Branch:</span>
          <span *ngIf='company.comp' style="margin-left:5px;">COMP</span>
          <span *ngIf='company.it' style="margin-left:5px;">IT</span>
          <span *ngIf='company.entc' style="margin-left:5px;">E&TC</span>
        </div>

       </div>
      </div>
    <div class="card-body" style="height:75vh">
       <table class="table table-striped">
        <thead>
            <tr class="bg-dark" style="color:#fff">
                <th>Criteria (CGPA)</th>
                <th>Backlog</th>
              </tr>
       </thead>
       <tbody>
          <tr>
              <td>{{company.criteria}}</td>
              <td>{{company.backlog | uppercase}}</td>
           </tr>
       </tbody>
      </table>
         <table class="table table-striped">
              <thead>
                <tr class="bg-dark" style="color:#fff">
                  <th>Activity</th>
                  <th>Venue</th>
                </tr>
              </thead>
              <tbody>
               <tr>
                 <td>{{company.activity1}}</td>
                 <td>{{company.venue1}}</td>
              </tr>
              <tr>
                  <td>{{company.activity2}}</td>
                  <td>{{company.venue2}}</td>
               </tr>
               <tr>
                  <td>{{company.activity3}}</td>
                  <td>{{company.venue3}}</td>
               </tr>
               <tr>
                  <td></td>
                  <td></td>
               </tr>
              </tbody>
              <thead>
                  <tr class="bg-dark" style="color:#fff">
                    <th>Skills Required</th>
                    <th></th>
                  </tr>
                </thead>
            </table>
            <div>
              {{company.skills}}
            </div> 
            <hr>


    </div> 
    <div class="card-footer" style="font-weight: bold"><span class="text-secondary">Email:</span>
      {{company.website}}</div>
   </div>
</div>
<div class="col-md-1"></div> 
  </div>