*{
    color: #fff;
}


#adminlogin{
    background: url('../../../assets/bg.jpg') no-repeat ;
     width:100%;
     height: 100vh;
     

}
.form-container{
    border: 0px solid #fff;
    padding: 50px 60px;
    margin-top: 15vh;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}